Prestudy/Bruno/2021-12-20/Trial left arm_1/Trial left arm_1.csv
Prestudy/Bruno/2021-12-20/Trial left arm_1/Trial left arm_1.shpf
Prestudy/Bruno/2021-12-20/Trial left leg_1/Trial left leg_1.csv
Prestudy/Bruno/2021-12-20/Trial left leg_1/Trial left leg_1.shpf
Prestudy/Bruno/2021-12-20/Trial right leg_1/Trial right leg_1.csv
Prestudy/Bruno/2021-12-20/Trial right leg_1/Trial right leg_1.shpf
Prestudy/Bruno/2021-12-20/Trial_right_arm_1/Trial_right_arm_1.csv
Prestudy/Bruno/2021-12-20/Trial_right_arm_1/Trial_right_arm_1.shpf
Prestudy/Esteban/2022-01-04/Trial left arm_1/Trial left arm_1.csv
Prestudy/Esteban/2022-01-04/Trial left arm_1/Trial left arm_1.shpf
Prestudy/Esteban/2022-01-04/Trial left leg_1/Trial left leg_2.csv
Prestudy/Esteban/2022-01-04/Trial left leg_1/Trial left leg_2.shpf
Prestudy/Esteban/2022-01-04/Trial right arm_1/Trial right arm_1.csv
Prestudy/Esteban/2022-01-04/Trial right arm_1/Trial right arm_1.shpf
Prestudy/Esteban/2022-01-04/Trial right leg_1/Trial right leg_1.csv
Prestudy/Esteban/2022-01-04/Trial right leg_1/Trial right leg_1.shpf
Prestudy/Jan/2022-01-04/Trial left arm_1/Trial left arm_1.csv
Prestudy/Jan/2022-01-04/Trial left arm_1/Trial left arm_1.shpf
Prestudy/Jan/2022-01-04/Trial left leg_1/Trial left leg_1.csv
Prestudy/Jan/2022-01-04/Trial left leg_1/Trial left leg_1.shpf
Prestudy/Jan/2022-01-04/Trial right arm_1/Trial right arm_1.csv
Prestudy/Jan/2022-01-04/Trial right arm_1/Trial right arm_1.shpf
Prestudy/Jan/2022-01-04/Trial right leg_1/Trial right leg_1.csv
Prestudy/Jan/2022-01-04/Trial right leg_1/Trial right leg_1.shpf
Prestudy/Katka/2021-12-15/Trial left arm_1/Trial left arm_1.csv
Prestudy/Katka/2021-12-15/Trial left arm_1/Trial left arm_1.shpf
Prestudy/Katka/2021-12-15/Trial left leg_1/Trial left leg_1.csv
Prestudy/Katka/2021-12-15/Trial left leg_1/Trial left leg_1.shpf
Prestudy/Katka/2021-12-15/Trial right arm_1/Trial right arm_1.csv
Prestudy/Katka/2021-12-15/Trial right arm_1/Trial right arm_1.shpf
Prestudy/Katka/2021-12-15/Trial right leg_1/Trial right leg_1.csv
Prestudy/Katka/2021-12-15/Trial right leg_1/Trial right leg_1.shpf
Prestudy/Lubos/2021-12-15/Trial left arm_1/Trial left arm_1.csv
Prestudy/Lubos/2021-12-15/Trial left arm_1/Trial left arm_1.shpf
Prestudy/Lubos/2021-12-15/Trial right arm_1/Trial right arm_1.csv
Prestudy/Lubos/2021-12-15/Trial right arm_1/Trial right arm_1.shpf
Prestudy/Lubos/2021-12-15/Trial right leg_1/Trial right leg_1.csv
Prestudy/Lubos/2021-12-15/Trial right leg_1/Trial right leg_1.shpf
Prestudy/Lubos/2021-12-16/Trial left leg_1/Trial left leg_1.csv
Prestudy/Lubos/2021-12-16/Trial left leg_1/Trial left leg_1.shpf
Prestudy/Redona/2021-12-15/Trial left arm_1/Trial ETRO_1.csv
Prestudy/Redona/2021-12-15/Trial left arm_1/Trial ETRO_1.shpf
Prestudy/Redona/2021-12-15/Trial left leg_1/Trial left leg_1.csv
Prestudy/Redona/2021-12-15/Trial left leg_1/Trial left leg_1.shpf
Prestudy/Redona/2021-12-15/Trial right arm_1/Trial right hand_1.csv
Prestudy/Redona/2021-12-15/Trial right arm_1/Trial right hand_1.shpf
Prestudy/Redona/2021-12-15/Trial right arm_2/Trial right hand_2.csv
Prestudy/Redona/2021-12-15/Trial right arm_2/Trial right hand_2.shpf
Prestudy/Redona/2021-12-15/Trial right leg_1/Trial right leg_1.csv
Prestudy/Redona/2021-12-15/Trial right leg_1/Trial right leg_1.shpf
model1/keras_metadata.pb
model1/saved_model.pb
model1/variables/variables.data-00000-of-00001
model1/variables/variables.index
